.home_container{
    width: 100%;
}

.home_create_room{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.home_create_room_button{
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #ffffff;
    height: 30px;
    width: 100px;
    font-size: 16px;
}

.home_list_container {
    display: flex;
    justify-content: space-between;
    height: 700px;
}
